body{
  font-family: "Comfortaa";
}
.nav-bar{
  height: 50px;
  display: flex;
  
}

.home-icon{
  margin-left: -30px;
  margin-right: 120px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
  height: 80%;
  width: 100px;
  margin: 60px;
  text-decoration: inherit;
  color: black;
  border: solid 1px;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(rgb(80, 255, 246), gray);
  transition: 0.5s ease;
}

a:hover{
  background-image: linear-gradient(white, gray);
  border-color: rgb(80, 255, 246);
}

.login-card{
  display: flex;
  align-items: center;
  justify-content: center;
}

